p a{
    float: right;
    padding-right: 12px;
    text-decoration: none;
    
    }
    
    p a:hover{
        color: blueviolet;
        font-family: impact,fantasy,verdana,tahoma;
        font-size: 26px;
        
    }
    img{opacity: 1;
       width:auto;
       height: auto;
    }
    input [type=text],[type=label],[type=button],[type=reset],[type=number],[type=textarea]{
        width:50%;
        padding: 12px 18px;
        margin: 7px 0;
        box-sizing: border-box;
        background-color: activeborder;
    }
    .demo{
        text-align:center;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    @media only screen and (max-width:600px)
    {opacity: 1;
       width:auto;
       height: auto;
    }



